body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username {
    display: flex;
    flex-direction: row;
}

.email {
    display: flex;
    flex-direction: row;
}

.privatecode {
    display: flex;
    flex-direction: row;
}

label {
    display: block;
    margin: 1em 0;
    padding: 1em;
    border: 0.125em solid black;
    font-size: 1.2em;
}

input {
    margin: 1em 1em 1em 0;
    padding: 1em;
    border: 0.125em solid black;
    margin-left: 1em;
    font-size: 1.2em;
}

button {
    padding: 1em;
    font-size: 1.2em;
    border: 0.125em solid black;
    background-color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #d0d0d0;
}

#logout {
    margin-top: 2em;
    background-color: #ff4d4d;
    color: white;
    border: none;
}

#logout:hover {
    background-color: #ff1a1a;
}

#logout:active {
    background-color: #e60000;
}

#buttonField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

#notesField {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    margin-top: 1em;
}

.noteAndOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
}

.noteAndOptions button {
    font-size: small;
    padding: 1em;
    border: 0.125em solid black;
    background-color: #fff;
    cursor: pointer;
    margin: 0.5em;
}